.Rproj.user
.Rhistory
.RData
.Ruserdata
ev.tv.filtered.csv
Pan-Africa Vulture Tracking.csv
Outputs
EV.migration.flexibility.completmigrationsonly.csv
EV.migration.flexibility.csv
EGVU_Final_complete_migrations_only_1ptperday.csv
EV-CompletedMigrations-1ptperday.csv
EV-all-1ptperday-filtered-utm-NSD-season.csv
Egyptian Vulture in the Middle East and East Africa.csv
overview.plots
TM_WORLD_BORDERS_SIMPL-0.3
Simple.tracking.plots.R
pan.africa.filtered.csv
